<!DOCTYPE HTML>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
	<title>技术帮</title>
	<include file="Inc:scripts" />
	<link type='text/css' href="__PUBLIC__/css/mgr/page1.css"  rel='stylesheet'  media="screen"/>
	
</head>
<body>
<include file="Inc:page1_head" />
	
<include file="Inc:foot"/>

	
</body>
</html>

<script type="text/javascript">


</script>



