<!DOCTYPE HTML>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
	<title>技术帮--登录</title>
	<include file="Inc:scripts" />
	<link type='text/css' href="__PUBLIC__/css/mgr/login.css"  rel='stylesheet'  media="screen"/>
	
</head>

<!-- 后台登录页面 -->
<body>
	<div class="bx_head">
		<div class="fl">
			<img src="__PUBLIC__/images/logo2.png" class="img_logo">
		</div>
		<div class="fl">
			<span class="txt_logo">技术帮管理后台</span>
		</div>
		
		<div class="fr">
			<a href="__APP__" class="back">返回技术帮首页</a>
		</div>
	
	</div>
	
	<div class="bx_main">
		<div class="left_banner">
			<img src="__PUBLIC__/images/login-banner.png" width="100%">
		</div>
		<div class="right_login">
			<div class="form_login">
				<div class="title">登录</div>
				<div class="txt"><input class="txtbox" type="text" placeholder="登录帐号"></div>
				<div class="txt"><input class="txtbox" type="password" placeholder="登录密码"></div>
				<div class="btns">
					<button class="btn_login" onclick="href('__APP__/mgr/index/index')">登&nbsp;&nbsp;&nbsp;&nbsp;录</button></div>
			</div>
		</div>
	</div>

</body>
</html>

<script type="text/javascript">

$(window).load(function(){
	
});


</script>



