<!DOCTYPE HTML>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
<title>技术帮</title>
<include file="Inc:scripts" />

<link type='text/css' href="__PUBLIC__/css/home/page.css"  rel='stylesheet'  media="screen"/>
<script src="__PUBLIC__/unslider/unslider-min.js"></script>
<link  rel='stylesheet' href="__PUBLIC__/unslider/unslider.css" />
<link  rel='stylesheet' href="__PUBLIC__/unslider/unslider-dots.css"/>
	
	
</head>
<style>

.sy_slider{
	float:left;
	width:60%;
	height:300px;
}

.sy_pics2{
	float:left;
	width:40%;
	padding-left:10px;
}
.sy_pics2 li{
	display:inline-block;
	width:48%;
	list-style:none;
	position:relative;
}
.sy_pics2 .pic2{
	width:100%;
	height:98px;
}
.sy_pics2 .title{
	position:absolute;
	left:18px;
	right:18px;
	bottom:18px;
	color:#fff;
}

.bx_pics3{
	float:left;

}

</style>
<body>
<include file="Inc:head" />

<!-- 主区域 -->
<div class="bx_main">
	<div class="sy_slider">
		<div class="slider">
			<ul>
				<li><a href="http://www.baidu.com">
					<img src="__PUBLIC__/images/1.jpg" class="pic"></a></li>
				<li><a href="#"><img src="__PUBLIC__/images/2.jpg" class="pic"></a></li>
				<li><a href="#"><img src="__PUBLIC__/images/3.jpg" class="pic"></a></li>
			</ul>
		</div>
	</div>
	
	<ul class="sy_pics2">
		<li>
			<a href="#">
				<img src="__PUBLIC__/images/4.jpg" class="pic2">
				<div class="title">java基础理论</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/images/5.jpg" class="pic2">
				<div class="title">java基础理论</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/images/4.jpg" class="pic2">
				<div class="title">java基础理论</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/images/5.jpg" class="pic2">
				<div class="title">java基础理论</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/images/4.jpg" class="pic2">
				<div class="title">java基础理论</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/images/4.jpg" class="pic2">
				<div class="title">java基础理论</div>
			</a>
		</li>
	</ul>
	

	
	<div class="cl"></div>

</div>

<include file="Inc:foot"/>
	
</body>
</html>

<script type="text/javascript">

$(window).load(function(){
	var slider=$(".slider").unslider({ animation:'horizontal',pause:false, infinite:true,
	autoplay: true, delay: 4500 });
	data = slider.data('unslider');

	$(".slider").on("mouseenter",function(){
		data.stop();
	});
	$(".slider").on("mouseout",function(){
		data.start();
	});
	
});

</script>



