<div class="bx_head">
	
	<div class="fl">
		<a href="__APP__"><img src="__PUBLIC__/images/logo.png" class="img_logo"></a>
	</div>
	<div class="fl">
		<a href="__APP__" class="a_logo">技术帮</a>
	</div>
	<div class="fl">
		<a href="__APP__/home/channel" class="a_channel">HTML</a>
		<a href="__APP__/home/channel" class="a_channel">CSS</a>
		<a href="__APP__/home/channel" class="a_channel">JavaScript</a>
		<a href="__APP__/home/channel" class="a_channel">JQuery</a>
		<a href="__APP__/home/channel" class="a_channel">Java</a>
		<a href="__APP__/home/channel" class="a_channel">Spring</a>
		<a href="__APP__/home/channel" class="a_channel">Struts2</a>
		<a href="__APP__/home/channel" class="a_channel">Hibernate</a>
		<a href="__APP__/home/channel" class="a_channel">SQL语言</a>
		<a href="__APP__/home/channel" class="a_channel">MySQL</a>
		<a href="__APP__/home/channel" class="a_channel">Oracle</a>
	</div>

</div>
