<!DOCTYPE HTML>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
	<title>技术帮</title>
	<include file="Inc:scripts" />
	<link type='text/css' href="__PUBLIC__/css/mgr/page1.css"  rel='stylesheet'  media="screen"/>

</head>
<body>
<include file="Inc:page1_head" />
<include file="Inc:left_geren" />

<!-- 主体部分 -->
<div class="main2">
	<ul class="cascade1">
		<li class="head">手册</li>
		<li><a href="#" class="item">JAVA理论基础</a></li>
		<li><a href="#" class="item" actived>JAVA理论基础</a></li>
		<li><a href="#" class="item">JAVA理论基础</a></li>
	</ul>
	
	<ul class="cascade2">
		<li class="head"></li>
		<li><a href="#" class="item">JAVA逻辑语法</a></li>
		<li><a href="#" class="item" actived>JAVA常见类</a></li>
		<li><a href="#" class="item" >网络篇</a></li>
		<li><a href="#" class="item">JAVA逻辑语法</a></li>
		<li><a href="#" class="item" >JAVA常见类</a></li>
	</ul>
	
	<ul class="cascade3">
		
		<table class="main_list" cellpadding="0" cellspacing="0" width="100%">
			<tr class="head"><td>节名称</td>
				<td width="140" align="center"><a href="handbooks_section2_add" class="btn1 btn_blue1">
			<i class="icon-plus-sign"></i> 新增</a></td></tr>
			<tr class="body"><td >if语法</td>
				<td class="operate"><a href="handbooks_section2_edit" class="btn1 btn_green1">
				<i class="icon-ok-sign"></i> 编辑</a>&nbsp;&nbsp;
			<a href="#" class="btn1 btn_red1"><i class="icon-remove-sign"></i> 删除</a> </td>
			</tr>
			<tr class="body"><td >while语法</td>
				<td class="operate"><a href="handbooks_section2_edit" class="btn1 btn_green1">
				<i class="icon-ok-sign"></i> 编辑</a>&nbsp;&nbsp;
			<a href="#" class="btn1 btn_red1"><i class="icon-remove-sign"></i> 删除</a> </td>
			</tr>
			<tr class="body"><td >switch</td>
				<td class="operate"><a href="handbooks_section2_edit" class="btn1 btn_green1">
				<i class="icon-ok-sign"></i> 编辑</a>&nbsp;&nbsp;
			<a href="#" class="btn1 btn_red1"><i class="icon-remove-sign"></i> 删除</a> </td></tr>
			<tr class="body"><td >remove</td>
				<td class="operate"><a href="handbooks_section2_edit" class="btn1 btn_green1">
				<i class="icon-ok-sign"></i> 编辑</a>&nbsp;&nbsp;
			<a href="#" class="btn1 btn_red1"><i class="icon-remove-sign"></i> 删除</a> </td>
			</tr>
			<tr class="body"><td >while语法</td>
				<td class="operate"><a href="handbooks_section2_edit" class="btn1 btn_green1">
				<i class="icon-ok-sign"></i> 编辑</a>&nbsp;&nbsp;
			<a href="#" class="btn1 btn_red1"><i class="icon-remove-sign"></i> 删除</a> </td>
			</tr>
			<tr class="body"><td >switch</td>
				<td class="operate"><a href="handbooks_section2_edit" class="btn1 btn_green1">
				<i class="icon-ok-sign"></i> 编辑</a>&nbsp;&nbsp;
			<a href="#" class="btn1 btn_red1"><i class="icon-remove-sign"></i> 删除</a> </td></tr>
			<tr class="body"><td >remove</td>
				<td class="operate"><a href="handbooks_section2_edit" class="btn1 btn_green1">
				<i class="icon-ok-sign"></i> 编辑</a>&nbsp;&nbsp;
			<a href="#" class="btn1 btn_red1"><i class="icon-remove-sign"></i> 删除</a> </td>
			</tr>
		</table>
		
	</ul>

</div>

	
<include file="Inc:foot"/>
</body>
</html>





