<div class="box_left">
	<ul >
		<li class="title" onclick="href('__APP__/mgr/geren')">
			<i class="ico icon-cog"></i><span class="txt">手册</span></li>
		<li class="menu" id="handbooks" onclick="href('__APP__/mgr/geren/handbooks')">
			<i class="ico icon-sitemap"></i><span class="txt">手册管理</span></li>
		<li class="menu" id="hbsections2" onclick="href('__APP__/mgr/geren/hbsections2')">
			<i class="ico icon-tasks"></i><span class="txt">章节内容</span></li>
	</ul>
</div>

<script type="text/javascript">

$(window).load(function(){
	left_menu_actived();
});

</script>