<div class="bx_head">
	
	<div class="fl">
		<a href="__APP__/mgr"><img src="__PUBLIC__/images/logo.png" class="img_logo"></a>
	</div>
	<div class="fl">
		<a href="__APP__/mgr" class="a_logo">技术帮管理后台</a>
	</div>
	
	<div class="fr">
		<div class="btn_head" onclick="href('__APP__/mgr/gonggong')">公共</div>
		<div class="btn_head" onclick="href('__APP__/mgr/geren')">我的</div>
		<div class="btn_head">您好，崔鹏宇</div>
		<div class="btn_head"><a href="__APP__/mgr/index/login" class="cover">退出</a></div>
	</div>
</div>
